<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>CalmGuard|Team</title>
    <link rel="stylesheet" href="contact.css">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>

    <header>
        <nav class="navbar">
            <a class="logo" href="front.html">CalmGuard<span>.</span></a>
            <ul class="menu-links">
                
                <li><a href="front.html">Home</a></li>
                <li><a href="signpage.html">SignUp</a></li>
                <li><a href="aboutus.html">About Us</a></li>
                <li><a href="moni1.html">Demo</a></li>
                
            </ul>
            
        </nav>
    </header>

  <div class="container">
    <input type="radio" name="dot" id="one">
    <input type="radio" name="dot" id="two">
    <div class="main-card">
      <div class="cards">
        <div class="card">
         <div class="content">
           <div class="img">
            <img src="aaron.jpg" alt="">
           </div>
           <div class="details">
             <div class="name">Aaron Varughese</div>
             <div class="job">Web Designer</div>
           </div>
           <div class="media-icons">
             <a href="https://www.facebook.com/aaron.varughese.7"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-whatsapp"></i></a>
             <a href="https://www.instagram.com/_44ron_ft/"><i class="fab fa-instagram"></i></a>
             <a href="https://www.linkedin.com/in/aaron-varughese-bino-68bb5112b/"><i class="fab fa-linkedin"></i></a>
           </div>
         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img">
            <img src="anamin.jpg" alt="">
           </div>
           <div class="details">
             <div class="name">Anamin Fathima</div>
             <div class="job">UI Designer</div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="wa.link/cka6mw"><i class="fab fa-whatsapp"></i></a>
             <a href="https://instagram.com/anaminfathima?igshid=M2RkZGJiMzhjOQ=="><i class="fab fa-instagram"></i></a>
             <a href="https://www.linkedin.com/in/anamin-fathima-897b84287"><i class="fab fa-linkedin"></i></a>
           </div>
         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img">
            <img src="dona.jpg" alt="">
           </div>
           <div class="details">
             <div class="name">Dona Maria Joseph</div>  
             <div class="job">ML-Developer</div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="wa.link/72i66a"><i class="fab fa-whatsapp"></i></a>
             <a href="https://instagram.com/dona_maria_joseph?igshid=M2RkZGJiMzhjOQ=="><i class="fab fa-instagram"></i></a>
             <a href="https://www.linkedin.com/in/dona-maria-joseph-0b2239207?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fab fa-linkedin"></i></a>
           </div>
         </div>
        </div>
      </div>
      <div class="cards">
        <div class="card">
         <div class="content">
           <div class="img">
             <img src="aathira.jpg" alt="">
           </div>
           <div class="details">
             <div class="name">Aathira Krishna</div>
             <div class="job">ML-Devloper</div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="wa.link/w3atay"><i class="fab fa-whatsapp"></i></a>
             <a href="https://instagram.com/iamaathira?igshid=M2RkZGJiMzhjOQ=="><i class="fab fa-instagram"></i></a>
             <a href="https://www.linkedin.com/in/aathirakrishna?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fab fa-linkedin"></i></a>
           </div>
         </div>
        </div>
       
        <div class="card">
         <div class="content">
           <div class="img">
             <img src="miss.jpg" alt="">
           </div>
           <div class="details">
             <div class="name">Dr.Sinciya P.O</div>
             <div class="job">Project Guide</div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-whatsapp"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
             <a href="#"><i class="fab fa-linkedin"></i></a>
           </div>
         </div>
        </div>
      </div>
    </div>
    <div class="button">
      <label for="one" class=" active one"></label>
      <label for="two" class="two"></label>
    </div>
  </div>
</body>
</html>