<!DOCTYPE html>
<link rel="stylesheet" href="/static/dashdes.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalmGuard</title>
    <link rel="stylesheet" href="dashdes.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <script src="https://www.gstatic.com/firebasejs/10.6.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.6.0/firebase-auth.js"></script>

    
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="logo" href="/dash">CalmGuard<span>.</span></a>
            <ul class="menu-links">
                <li><a href="/dash">Home</a></li>
                <!-- Modify the link for the user dashboard -->
                <li><a href="/dash">Dashboard</a></li>
                <li><a href="aboutus2.html">About Us</a></li>
                <!-- Modify the link for the demo based on the user's status -->
                <li><a href="/logmoni1">Monitor</a></li>
                <li class="profile-icon">
                    <div class="profile-dropdown">
                        <span class="material-symbols-outlined">account_circle</span>
                        <div class="dropdown-content">
                            <a href="profile.html">Profile</a>
                            <a href="#">Settings</a>
                            <!-- Add a logout link -->
                            <a href="#" id="signout" class="signout-button">Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Hero Section -->
    <section class="hero-section" style="background-image: url('{{ url_for('static', filename='/images/calm.jpg') }}');">
        <div class="content">
            <h2>CalmGuard- Your Stress and Strain Sentinel</h2>
            <p>Your vigilant sentinel against stress and strain. Navigate serenity with real-time monitoring and personalized insights.</p>
            <!-- Modify the button based on the user's status -->
            <button><a href="/signpage">Try Now</a></button>
        </div>
    </section>

    <script type="module">
        const header = document.querySelector("header");
        
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.6.0/firebase-app.js";
        import { getDatabase, set, ref, update } from "https://www.gstatic.com/firebasejs/10.6.0/firebase-database.js";
        import { getAuth, createUserWithEmailAndPassword, signInWithEmailAndPassword, fetchSignInMethodsForEmail, signOut } from "https://www.gstatic.com/firebasejs/10.6.0/firebase-auth.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.6.0/firebase-analytics.js";

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyDYEQz3BF7HHAYq4OuYAaSBhncFj9oc8AQ",
            authDomain: "calmguard-4affd.firebaseapp.com",
            databaseURL: "https://calmguard-4affd-default-rtdb.firebaseio.com",
            projectId: "calmguard-4affd",
            storageBucket: "calmguard-4affd.appspot.com",
            messagingSenderId: "647620250169",
            appId: "1:647620250169:web:8b7a7da6381a0ee6c3dbe8",
            measurementId: "G-HRCVMKDQBK"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
        const database = getDatabase(app);
        const auth = getAuth();
        const signoutButton = document.getElementById('signout');
        console.log("Signout test");
        signoutButton.addEventListener('click', (e) => {
        e.preventDefault();

        const auth = getAuth();
        auth.signOut().then(() => {
            alert('User Signed Out');

            // Redirect to the home page after successful sign-out
            window.location.href = "{{ url_for('home') }}";
        }).catch((error) => {
            console.error('Error signing out:', error);
            alert('Error during sign-out. Please try again.');
        });
        });


        
</script>
<!-- <script src="script.js"></script> -->
    
</body>
</html>